<section class="featured">
  <div class="content-wrapper">
      <hgroup class="title">
        <h1><%= title %></h1>
      </hgroup>
      <p>We are really quite sorry.  We can't find the page you were looking for.</p>
  </div>
</section>
<section class="main-content">
  <h3>We are so sorry!</h3>
  <p>We can't seem to find the page you are looking for.</p>
</section>
